.about-company {
    overflow: hidden;
    .about-conten-box {
        margin-left: auto;
    }
}
.about-conten-box {
    width: 550px;
    margin: 0;
    h2 {
        text-align: center;
        padding: 100px 0 40px;
        color: #07080C;
        font-size: 35px;
        font-weight: 400;
        letter-spacing: 0.7px;
        text-transform: uppercase;
    }
    p {
        margin-bottom: 30px;
        color: #07080C;
        font-size: 16px;
        letter-spacing: 0.32px;
    }
}
.bg-about {
    background: url('assets/img/about-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: auto;
}
