.first-screen-section-2 {
    background: url(assets/img/first-screen-bg.png);
}

.first-screen-section-1 {
    margin: 158px 85px;
    h1 {
        color: var(--black, #07080C);
    font-family: Jost;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
        }
    h3 {
        color: var(--black, #07080C);
        font-family: Jost;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.32px;
        max-width: 533px;
        margin-bottom: 50px;
    }


    
    .btn-fs {
        border: none;
        padding: 17px 77px;
        background-color: #F48F45;
        text-align: center;
        text-decoration: none;
        color: white;

        /* CTA */
        font-family: Jost;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.36px;
            }
        
}