.first-screen.container {
	background: url(assets/img/first-screen-bg.png);
	// height: calc(100vh - 100px);
	height: 800px;
	background-repeat: no-repeat;
}
.template-title{
	position: relative;
}
.decoration-title::before,
.decoration-title::after {
  content: "";
  position: absolute;
  top: 65%;
  height: 2px;
  width: 50px;
  background-color: black;
}

.decoration-title::before {
  left: 50px; /* Расстояние от левой стороны заголовка */
  transform: translateY(-50%);
}

.decoration-title::after {
  right: 50px; /* Расстояние от правой стороны заголовка */
  transform: translateY(-50%);
}

.first-screen {
	h1 {
		color: #07080C;
		font-size: 50px;
		font-weight: 400;
		letter-spacing: 1px;
		text-transform: uppercase;
		padding-top: 158px;
		margin-bottom: 20px;
	}
	.template-subtittle {
		color: var(--black, #07080C);
		font-size: 16px;
		letter-spacing: 0.32px;
		width: 533px;
		font-weight: 400;
		margin-bottom: 60px;
	}
}

.button-fs {
	cursor: pointer;
	position: relative;
	padding: 0;
	border-radius: 0;
	border: none;
	width: 320px;
	line-height: 60px;
	background-color: $primary-color;
	text-align: center;
	text-decoration: none;
	color: white;
	font-family: Jost;
	font-size: 18px;
	letter-spacing: 0.36px;
	transform: skewX(-20deg);
	margin-bottom: 158px;
	div {
	transform: skew(20deg);
	}
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 1px solid $primary-color;
		z-index: -1;
		transform: translateX(10px) translateY(-10px);
	}
}
.achievements {
	padding: 22px 0;
	position: relative;
	display: flex;
	flex-direction: row;
	text-align: center;
	.template-item {
		width: 200px;
	}

}
.achievements::before,
.achievements::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px; 
  background-color: $primary-color; 
  z-index: -1;
}

.achievements::before {
  top: 0;
}

.achievements::after {
  bottom: 0;
}


//треугольник  чтоб перекрыть картинку. 
// .img-box {
//     position: relative;
// }
// .img-box:before {
// content: "";
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 0;
//     height: 0;
//     border: 0 solid transparent;
//     border-right-width: 196px;
//     border-left-width: 0px;
//     border-top: 912px solid black;
// }