<section class="container">
    <div class="first-screen row">
        <div class="first-screen-section-1 col-6">
            <h1 class="template-title">Create Your Dream Home</h1>
            <h3 class="template-subtittle">Experience the Ultimate in Comfort and Style with Our Exclusive Apartment and Furniture Designs</h3>
            
            <button class="btn-fs">
                Order a consultation
            </button>
        </div>
        <div class="first-screen-section-2 col-6">

        </div>
    </div>
</section>