<section class="first-screen container">
    <div class="container-fluid row">
        <div class="col-5">
            <h1 class="template-title">Create Your Dream Home</h1>
            <h3 class="template-subtittle">Experience the Ultimate in Comfort and Style with Our Exclusive Apartment and Furniture Designs</h3>
            <button type="button" class="btn btn-primary button-fs">
                <div>Order a consultation</div>
            </button>
            <div class="achievements">
                <div class="template-item">
                    <h3>678</h3>
                    <p>Completed projects</p>
                </div>
                <div class="template-item">
                    <h3>99%</h3>
                    <p>Projects completed on time</p>
                </div>
                <div class="template-item">
                    <h3>14 years</h3>
                    <p>Impeccable reputation</p>
                </div>
            </div>
        </div>
        <div class="col-7">
            <img class="first-screen-img" src="assets/img/first-screen-bg.png" height="803" alt="">
        </div>
    </div>
</section>