<section class="container">
    <div class="first-screen row">
        <div class="first-screen-section-1 col-6">
            <h1 class="template-title">Create Your Dream Home</h1>
            <h3 class="template-subtittle">Experience the Ultimate in Comfort and Style with Our Exclusive Apartment and Furniture Designs</h3>
            <div class="button-fs">
                <p>Order a consultation</p>
            </div>
        </div>
        <div class="first-screen-section-2 col-6">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia atque perspiciatis maxime ex ipsam aut consequuntur quo accusamus quas hic, laborum, temporibus, impedit sequi. Non blanditiis magni quasi impedit excepturi!Lorem5
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ipsum itaque tempore culpa voluptatibus non quo. Dolorum unde nostrum mollitia ducimus excepturi quibusdam facere minus atque molestiae iure, labore omnis eum saepe veniam hic consectetur similique impedit, quas cum praesentium alias. Eius, nulla. Dignissimos porro officiis qui natus, tenetur inventore incidunt nisi, quas nobis laudantium nostrum deserunt molestias tempora magnam repellat atque, esse ut? Quasi dolores deleniti ducimus doloremque aliquam ipsa mollitia omnis veniam tempora doloribus autem animi officia, nulla eligendi ab modi in commodi necessitatibus officiis ullam reiciendis quaerat iure voluptatem? Quibusdam assumenda unde, libero explicabo facilis aliquam sunt.</p>
        </div>
    </div>
</section>