<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid container">
          <a class="navbar-brand" href="index.html">
            <img src="assets/img/logo.svg" alt="logo">

          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav navigation">
              <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Our work</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Stages</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Reviews</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contacts</a>
              </li>
            </ul>
            <ul class="navbar-nav location-nav">
                <li class="nav-item flex">
                    
                    <a class="nav-link" href="#">
                        <img src="assets/img/icon-nav-mappoint.svg" alt="map-icon">
                    </a>
                    <a class="nav-link" href="#">Kharkiv, st. Universitetskaya 24</a>
                    <a class="nav-link" href="#">Mon - Fri 9am - 6pm</a>
                    <a class="nav-link" href="#">Sat - Sun Weekend</a>
                <li class="nav-item flex">
                    <a href="#"> <img src="assets/img/icon-whatsapp.svg" alt="img"></a>
                    <a href="#"> <img src="assets/img/icon-telegram.svg" alt="img"></a>
                    <a class="nav-link" href="#"><div class="number-phone">+38 (096) 420-20-02</div></a>
                </li>
              </ul>
          </div>
        </div>
      </nav>
</header>

