<section class="stages container">
    <div class="container-fluid row">
        <div class="template-title">
            <h2 class="">Bringing an idea to life is easy</h2>
        </div>
        <div class="wrapper-card">
             <div class="card-item card-item-1">
                <img src="assets/img/stages-card-1.png" alt="img-card">
                <div class="card-content">
                        <h3 class="card-title">
                           Discussion  
                        </h3>
                        <p class="card-subtitle">
                            The company's team of experts will discuss the client's vision for the space, their lifestyle, and any special needs or considerations they have.
                        </p>
                </div>
            </div>
            <div class="card-item card-item-1">
                <img src="assets/img/stages-card-2.png" alt="img-card">
                <div class="card-content">
                        <h3 class="card-title">
                           Treaty   
                        </h3>
                        <p class="card-subtitle">
                            Once the design plan is finalized, the company and client will enter into a contract or treaty outlining the scope of work, timeline, and payment terms.
                        </p>
                </div>
            </div>
            <div class="card-item card-item-2">
                <img src="assets/img/stages-card-3.png" alt="img-card">
                <div class="card-content">
                        <h3 class="card-title">
                           Payment   
                        </h3>
                        <p class="card-subtitle">
                            After the contract is signed, the client will make a payment to the company. Depending on the size and scope of the project, the payment may be made in installments or as a lump sum.
                        </p>
                </div>
            </div>
            <div class="card-item card-item-3">
                <img src="assets/img/stages-card-4.png" alt="img-card">
                <div class="card-content">
                        <h3 class="card-title">
                           Finished result   
                        </h3>
                        <p class="card-subtitle">
                            Once the payment is received, the company will begin the construction and installation phase. The team will work diligently to complete the project on time and within budget.
                        </p>
                </div>
            </div>
            <div class="card-item card-item-4">
                <img src="assets/img/stages-card-5.png" alt="img-card">
                <div class="card-content">
                        <h3 class="card-title">
                           Discussion  
                        </h3>
                        <p class="card-subtitle">
                            The company's team of experts will discuss the client's vision for the space, their lifestyle, and any special needs or considerations they have.
                        </p>
                </div>
            </div>

        </div>
    </div>

</section>